@use '../custom' as *;
@use '../components/mixins' as *;

.footer
{
    padding-top: 1rem;

    background-color: $footer;  
    
    a
    {
        text-decoration: none;
        color: $white;

        &:hover
        {
            color:$primary;
        }
    }

    .contact-box
    {
        position: relative;
        width: auto;
        margin-right: auto;

        &__info
        {
            padding-left: 0.5rem;
            line-height: 2rem;
            
            &--title
            {
                text-decoration: none;
                font-size: 1.4rem;
                color: $white;
                font-weight: 500;

                @include media-breakpoint-down(sm)
                {
                    font-size: 1.2rem;
                }

                
            }

            &--subtitle
            {
                color:$gray-600;
                font-weight:500;
                @include media-breakpoint-down(sm)
                {
                }
            }
        }
    }

    &__icon
    {
        color: $white;
        font-size: 1.75rem;
        margin-left: 1rem;
    }
    
    

    .company-list
    {
        list-style: none;
        text-transform: capitalize;
        padding-left: 0;
        
        
    }
}

.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    
    i {
        color: $white;
        font-size: 1rem;
        @include absoluteCenter;
    }
}